<header class="masthead">
	<nav class="language-nav">
		<ul>
			<li><a href="#">Fix a bug</a></li>
			<li><a href="#">Recursively cry</a></li>
			<li><a href="#">Breakdown</a></li>
			<li><a href="#">Google it</a></li>
			<li><a href="#">Ask Alvin</a></li>
		</ul>
	</nav>
	<img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">
	<ul class="masthead-links">
		<li>
			<time>Thursday 19th, 2021</time>
		</li>
		<li>
			<i class="far fa-newspaper"></i><a href="#">Today’s Tea</a>
		</li>
		<li>
			<i class="fas fa-camera-retro"></i></i><a href="#">Video</a>
		</li>
		<li>
      <button><i class="fas fa-user-secret"></i><coat> Enter Your SSN</coat></button>
		</li>
    <li>
			<button>Dogecoin<stonks> +9.87%</stonks></button>
		</li>
	</ul>
</header>